@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 15px;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url("images/bg-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    /* overflow: hidden; */
}
.container {
    margin: 3rem;
}
#logo {
    margin-bottom: 3rem;
    width: 15%;
    max-height: 100%;
}
.main-section {
    display: flex;
    gap: 5rem;
}
#mockup {
    width: 500px;
    max-height: 100%;

}
.content {
    text-align: left;
}
h1 {
    margin: 2rem 0 2rem 0;
    font-size: 3rem;
    font-family: 'Poppins';
    color: white;
    font-weight: 550;
}
#desc {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-bottom: 3rem;
}
#register {
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    transition: 0.1s;
    box-shadow: 5px 5px 30px -5px rgba(0,0,0,0.69);
}
#register:hover {
    background-color: hsl(300, 69%, 71%);
}

@media (max-width: 1024px) {
    .main-section {
        flex-direction: column;
    }
    .content {
        text-align: center;
    }
    #logo {
        width: 30%;
    }
    #mockup {
        width: 90%;
        align-self: center;
    }
    body {
        background: url("./images/bg-mobile.svg");
        background-color: hsl(257, 40%, 49%);
        background-size: cover;
        background-repeat: no-repeat;
    }
}